* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

#body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

header {
    display: flex;
    justify-content: space-between;
    height: 6.9375rem;
    padding: 0rem 3rem;

    border: 1px solid var(--borda-input);

    background-color: var(--background-claro);

    font-family: var(--font-roboto);
}

header #logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

header #logo img {
    height: 2.5rem;
}

header #logo label {
    font-size: 1.5rem;
    font-weight: 700;

    color: var(--roxo-primario);
}

header #buttons {
    display: flex;
    align-items: center;

    gap: 1rem;
}

header #buttons .button {
    height: 3rem;
    width: 3rem;
    border: 1px solid var(--borda-input);
    border-radius: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

header #buttons .button:hover {
    background-color: var(--hover-branco);
}

header #buttons .button:active {
    transform: scale(0.95);
}

header #buttons .button img {
    height: 1.25rem;
    opacity: 0.75;
}

header #perfil {
    display: flex;
    align-items: center;

    height: 3rem;
    width: 12.375rem;

    padding: 0.5rem;
    gap: 0.5rem;

    border: 1px solid var(--borda-input);
    border-radius: 3rem;

    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}

header #perfil:hover {
    background-color: var(--hover-branco);
}

header #perfil:active {
    transform: scale(0.98);
}

header #perfil #icon {
    height: 2rem;
    width: 2rem;
    border-radius: 5rem;
    background-color: var(--roxo-secundario);

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("../assets/imgs/geral/lain.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header #perfil #icon span{
    font-size: 1rem;
    font-weight: 400;
    color: var(--texto-branco);
}

header #perfil label {
    font-size: 1rem;
    font-weight: 400;
    color: var(--texto-normal);
}

header #perfil img {
    width: 0.75rem;
    opacity: 0.75;
    margin: 0.5rem;
}

main {
    background-color: var(--background-cinza);
    display: flex;
    padding: 1.25rem;
    gap: 1.25rem;

    min-height: 0;

    overflow: hidden; 
    height: calc(100vh - 6.9375rem);
}

main .navigation-bar {
    font-family: var(--font-poppins);
    

    background-color: var(--background-claro);
    width: 22.1875rem;
    border-radius: 1rem;
    padding: 1.25rem;

    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 6rem;

    outline: 1px solid var(--borda-input);

    flex-shrink: 0;

    transition: width 0.35s cubic-bezier(0.34, 1.56, 0.64, 1);
}

main .navigation-bar #toggle-bar {
    height: 1.5rem;
    opacity: 0.75;

    cursor: pointer;
}

main .navigation-bar #menu {
    width: 100%;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

main .navigation-bar .menu-item {
    width: 100%;
    height: 3.5rem;

    border-radius: 2.25rem;

    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;

    transition: background-color 0.2s ease-in-out, padding-left 0.2s ease-in-out;

    cursor: pointer;
}

main .navigation-bar .menu-item:hover {
    background-color: var(--hover-branco);
    padding-left: 1.5rem;
}

main .navigation-bar .menu-item img {
    height: 1.5rem;
    opacity: 0.75;
}

main .navigation-bar .menu-item label {
    font-size: 1rem;
    font-weight: 400;
    color: var(--texto-normal);

    cursor: pointer;
}

main .navigation-bar .menu-item.active {
    width: 100%;
    height: 3.5rem;

    background-color: var(--roxo-quaternario);

    border-radius: 2.25rem;

    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

main .navigation-bar .menu-item.active img {
    height: 1.5rem;
    opacity: 1;

    filter: brightness(0) saturate(100%) invert(36%) sepia(75%) saturate(4614%) hue-rotate(243deg) brightness(101%) contrast(91%);
}

main .navigation-bar .menu-item.active label {
    font-size: 1rem;
    font-weight: 500;
    color: var(--roxo-primario);
}

main .navigation-bar hr {
    margin: 1rem 0rem;
    border: 1px solid var(--borda-input);
}

main .navigation-bar #spacer {
    flex-grow: 1;
}


/* ---------- */

main .navigation-bar-closed {
    font-family: var(--font-poppins);

    background-color: var(--background-claro);
    width: 6.125rem;
    border-radius: 1rem;
    padding: 1.25rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;

    outline: 1px solid var(--borda-input);

    transition: width 0.35s cubic-bezier(0.34, 1.56, 0.64, 1);
}

main .navigation-bar-closed #toggle-bar {
    height: 1.5rem;
    opacity: 0.75;

    cursor: pointer;
}

main .navigation-bar-closed #menu {
    width: 100%;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

main .navigation-bar-closed .menu-item {
    width: 100%;
    height: 3.5rem;

    border-radius: 2.25rem;

    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;

    cursor: pointer;

    transition: background-color 0.2s ease-in-out;
}

main .navigation-bar-closed .menu-item:hover {
    background-color: var(--hover-branco);
}

main .navigation-bar-closed .menu-item img {
    height: 1.5rem;
    opacity: 0.75;
}

main .navigation-bar-closed .menu-item label {
    font-size: 1rem;
    font-weight: 400;
    color: var(--texto-normal);

    display: none;
}

main .navigation-bar-closed .menu-item.active {
    width: 100%;
    height: 3.5rem;

    background-color: var(--roxo-quaternario);

    border-radius: 2.25rem;

    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

main .navigation-bar-closed .menu-item.active img {
    height: 1.5rem;
    opacity: 1;

    filter: brightness(0) saturate(100%) invert(36%) sepia(75%) saturate(4614%) hue-rotate(243deg) brightness(101%) contrast(91%);
}

main .navigation-bar-closed .menu-item.active label {
    font-size: 1rem;
    font-weight: 500;
    color: var(--roxo-primario);
}

main .navigation-bar-closed hr {
    margin: 1rem 0rem;
    border: 1px solid var(--borda-input);
}

main .navigation-bar-closed #spacer {
    flex-grow: 1;
}

/* --------- */

main #dashboard-container {
    font-family: var(--font-roboto);

    display: flex;

    flex-direction: column;
    justify-content: start;
    padding: 1.875rem 1rem;

    gap: 5rem;
    border-radius: 1rem;

    overflow-y: auto;
    min-height: 0;

    flex: 1; 
}

main #dashboard-container #dashboard-content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

main #dashboard-container h1 {
    font-size: 1.5rem;
    font-weight: 700;

    color: var(--texto-normal);
}

main #dashboard-container #card1 {
    width: 100%;
    height: 30rem;
    background-color: var(--background-claro);
    border-radius: 5px;
    outline: 1px solid var(--borda-input);

    display: flex;
    align-items: center;
    justify-content: center;
}

main #dashboard-container #card2 {
    width: 100%;
    height: 30rem;
    background-color: var(--background-claro);
    border-radius: 5px;
    outline: 1px solid var(--borda-input);

    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 500px){
    header {
        height: 3.75rem;
        padding: 0rem 1rem;
    }

    header #logo {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    header #logo img {
        height: 1.25rem;
    }

    header #logo label {
        display: none;
    }

    header #buttons {
        display: flex;
        align-items: center;

        gap: 1rem;
    }

    header #buttons .button {
        height: 3rem;
        width: 3rem;
        border: 1px solid var(--borda-input);
        border-radius: 5rem;

        display: flex;
        align-items: center;
        justify-content: center;
        
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
    }

    header #buttons .button:hover {
        background-color: var(--hover-branco);
    }

    header #buttons .button:active {
        transform: scale(0.95);
    }

    header #buttons .button img {
        height: 1.25rem;
        opacity: 0.75;
    }

    header #perfil {
        display: flex;
        align-items: center;

        height: 3rem;
        width: 12.375rem;

        padding: 0.5rem;
        gap: 0.5rem;

        border: 1px solid var(--borda-input);
        border-radius: 3rem;

        transition: background-color 0.2s ease-in-out;
        cursor: pointer;
    }

    header #perfil:hover {
        background-color: var(--hover-branco);
    }

    header #perfil:active {
        transform: scale(0.98);
    }

    header #perfil #icon {
        height: 2rem;
        width: 2rem;
        border-radius: 5rem;
        background-color: var(--roxo-secundario);

        display: flex;
        align-items: center;
        justify-content: center;

        background-image: url("../assets/imgs/geral/lain.webp");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    header #perfil #icon span{
        font-size: 1rem;
        font-weight: 400;
        color: var(--texto-branco);
    }

    header #perfil label {
        font-size: 1rem;
        font-weight: 400;
        color: var(--texto-normal);
    }

    header #perfil img {
        width: 0.75rem;
        opacity: 0.75;
        margin: 0.5rem;
    }
}